.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-bottom: 10px;

  min-width: 90vw;
  min-height: max-content;

  border-bottom: 1px solid var(--color-gray-500);

  /* width: max(500px, 65vw); */
}

.cardContainer a {
  text-decoration: none;
  color: inherit;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 0px 5px;
  color: black;
  padding: 10px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.userImageWrapper {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 2px hsl(0deg 0% 0% / 0.25);
}

.userImageWrapper:hover img {
  transform: scale(1.1);
  transition: transform 300ms;
}

.userImageWrapper img {
  display: block;
  width: 100%;
  object-fit: fill;
  transition: transform 600ms;
}

.userName {
  display: block;
  font-size: 0.7rem;
  font-weight: var(--WEIGH-normal);
  margin-bottom: -5px;
  transition: transform 600ms;
}

.userName:hover {
  transform: scale(1.1);
  transition: transform 300ms;
}

.title {
  font-size: 1.75rem;
  flex-grow: 1;
  text-align: center;
  height: max-content;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--WEIGH-medium);
  font-style: normal;
  transition: color 300ms;
}

.title:hover {
  color: var(--color-gray-700);
  transition: color 300ms;
}

.postBody {
  display: grid;
  gap: 10px;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
}

.mainImageWrapper {
  width: 100%;
}

.mainImageWrapper:hover img {
  transform: scale(1.02);
  transition: transform 300ms;
}

.mainImageWrapper img {
  width: 100%;
  height: 100%;
  transition: transform 600ms;
}

.postBody p {
  font-family: Inter, sans-serif;
  color: var(--color-gray-900);
  text-wrap: wrap;
  padding: 0;
  margin: 0;
}

.details {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--color-gray-300);
  font-size: 0.8rem;
}

.details div {
  flex-grow: 1;
}

.reactions button {
  margin-left: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
