.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: var(--margin-large);
}

.Wrapper a {
  display: block;
}

.UserWrapper {
  display: flex;
  min-width: max-content;
  width: 50%;
  font-size: 1.5rem;
  gap: 10px;
  padding: 1rem 0;
  box-shadow: 2px 4px 8px var(--color-gray-500);
  border-radius: 1rem;
  padding: 10px;
}

.ImageWrapper {
  display: block;
  border: 1px solid transparent;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.ImageWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.UserDetails a {
  display: block;
  text-decoration: underline;
  line-height: 2rem;
  font-size: 2rem;
}
