@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Gwendolyn:wght@400;700&family=Hind:wght@300;400;500;600;700&family=Noto+Sans+Sundanese:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sundanese:wght@400..700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL STYLES */
*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

#root {
  /*
    Create a stacking context, without a z-index.
    This ensures that all portal content (modals and tooltips) will
    float above the app.
  */
  isolation: isolate;
}

html {
  /* COLORS: */
  --color-white: hsl(0deg 0% 100%);
  --color-primary: hsl(178, 90%, 19%);
  --color-secondary: hsl(163, 78%, 39%);
  --color-alert: hsl(25, 80%, 55%);
  --color-error: hsl(11, 85%, 52%);

  --color-post-primary: hsl(178, 64%, 25%);
  --color-post-secondary: hsl(163, 78%, 39%);

  --color-gray-100: hsl(185deg 5% 95%);
  --color-gray-300: hsl(190deg 5% 80%);
  --color-gray-500: hsl(196deg 4% 60%);
  --color-gray-700: hsl(220deg 5% 40);
  --color-gray-900: hsl(220deg 3% 20%);

  --color-backdrop: hsl(220deg 5% 40 / 0.8);
  /*  WEIGHTS */
  --WEIGH-normal: 500;
  --WEIGH-medium: 600;
  --WEIGH-bold: 800;

  /* FONT FAMILY */
  --TEXT-font : play

  /* BREAKPOINTS */
  --phone: 600;
  --tablet: 950;
  --laptop: 1300;

  /* QUERIES */
  --phoneAndSmaller: calc(var(--phone) / 16) rem;
  --tabletAndSmaller: calc(var(--tablet) / 16) rem;
  --laptopAndSmaller: calc(var(--laptop) / 16) rem;

  /* MARGINS */
  --margin-normal : 0.25rem;
  --margin-medium : 0.5rem;
  --margin-large : 1rem;
  /*
    Silence the warning about missing Reach Dialog styles
  */
  --reach-dialog: 1;


}

html,
body,
#root {
  height: 100%;
}

/* html {
  height: max-content;
  min-height: 100vh;
} */

body {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.Content {
display: flex;
  min-height: 100%;
}

/* FONTS */
