.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 10px;
  background-color: var(--color-white);
}

.mainSection h1 {
  font-size: large;
  font-weight: var(--WEIGH-bold);
  color: var(--color-secondary);
}
