.Wrapper {
  display: flex;
  flex-direction: column;
  --padding: 0 0.5rem;
}

.Header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 4px 8px hsl(0deg 0% 0% / 0.25);
}

.Header h2 {
  font-size: 3rem;
}

.Header h3 {
  font-size: 2rem;
  color: var(--color-gray-700);
}
.ImageWrapper {
  width: 350px;
  height: 350px;
  border: solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.ImageWrapper:hover img {
  filter: brightness(110%);
  transition: filter 300ms;
}

.ImageWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(90%);
  transition: filter 600ms;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: var(--padding);
}

.ContentWrapper {
  width: 80%;
  min-width: fit-content;
  border: 0.5px solid var(--color-gray-300);
  box-shadow: 1px 2px 4px hsl(0deg 0% 0% / 0.25);
}

.PostWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.PostWrapper header {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px solid var(--color-gray-700);
}

.PostWrapper h1 {
  font-family: 'STIX Two Text', serif;
}

.PostWrapper main {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: var(--padding);
}

.PostDetails {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 1rem;
}

.PostDetails time {
  margin-right: auto;
}

.Buttons {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding: var(--padding);
  margin-bottom: 1rem;
  width: 90%;
}

.Buttons button:hover {
  transform: scale(1.1);
  transition: transform 300ms;
}

.Buttons button {
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
  font-weight: var(--WEIGH-bold);
  transform: scale(1);
  transition: transform 600ms;
}

.CommentWrapper {
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
}

.CommentWrapper h3 {
  font-size: 1.5rem;
  padding: var(--padding);
  text-transform: capitalize;
}

.CommentDetails {
  display: flex;
  justify-content: space-between;
}

.CommentDetails p {
  padding: var(--padding);
  margin-bottom: 0.5rem;
}

.PostContent {
  display: grid;
  grid-template-columns: 300px 3fr;
  border-bottom: 1px solid var(--color-gray-500);
  font-family: 'Texturina', serif;
}
.PostImageWrapper {
  padding: 10px;
  height: 300px;
}
.PostImageWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
